{% extends 'basic.html' %}
{% load static %}
{% block content %}

    <div class="main">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">главная</a></li>
                    <li>заявки на технику</li>
                </ul>
            </div><!--//breadcrumbs-->


            <section class="items-block">
                <div class="section-header"><h1>заявки на технику</h1></div>
                <div class="items-block-wrapper">
                    <div class="items-block-left">

                        <div class="item-filter">
                            <form action="">
                                <p>Поиск по названию</p>
                                <input type="text">
                                <p>География</p>
                                 <div class="city-select">
                                    <input autocomplete="off" id="city_select_input" class="city-select-input" onkeyup="getCities(this)" type="text" value="{{ city_from_filter }}">
                                    <div id="city_select_list" class="city-select-list ">

                                    </div>
                                </div>
                                 <p>Тип</p>
                                <select name="" id="type_select">
                                    <option value="any">Любой</option>
                                    {% for type in all_techique_types %}
                                        <option {% if current_technique_type.id == type.id%}selected{% endif %} value="{{ type.name_slug }}">{{ type.name }}</option>
                                    {% endfor %}

                                </select>
                                <p>Раздел</p>
                                <select name="section" id="section_select">
                                    <option value="all">Все разделы</option>
                                    {#                                    <option value="{% if filter_section  %}{{ section_name.name_slug }}{% else %}all{% endif %}">#}
                                    {#                                        {% if filter_section  %}{{ section_name.name }}{% else %}Все разделы{% endif %}</option>#}
                                    {% for section in current_technique_type.sections.all %}
                                        <option {% if current_technique_section.id == section.id or section_from_filter.id == section.id %}selected{% endif %} class="section-name" value="{{ section.name_slug }}">{{ section.name }}</option>
                                    {% endfor %}
                                </select>
                                <p>Подраздел</p>
                                <select name="subsection" id="subsection_select">
                                    <option value="all">Все подразделы</option>
                                    {% if current_technique_section %}
                                        {% for subsection in current_technique_section.subsections.all %}
                                            <option {% if current_technique_subsection.id == subsection.id or subsection_from_filter.id == subsection.id%}selected{% endif %} class="subsection-name" value="{{ subsection.name_slug }}">{{ subsection.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                    {% if section_from_filter %}
                                        {% for subsection in section_from_filter.subsections.all %}
                                            <option {% if subsection_from_filter.id == subsection.id%}selected{% endif %} class="subsection-name" value="{{ subsection.name_slug }}">{{ subsection.name }}</option>
                                        {% endfor %}
                                    {% endif %}

                                </select>

                                <input id="city_id" type="hidden" name="city" value="{% if filter_city  %}{{ filter_city }}{% else %}all{% endif %}">
                                <button type="submit" class="btn">поиск</button>

                            </form>


                        </div>

                    </div><!--//items-block-left-->
                    <div class="items-block-right">
                        <div class="items-block-right-sorting">
                            <div class="items-block-right-sorting-inner">
                                <div class="items-block-right-sorting-inner-display">
                                    <p>Отбор заявок</p>

                                    <select class="custom-select-box">
                                        <option value="1">Новые</option>
                                        <option value="0">Все</option>
                                        <option value="2">Я не ответил</option>
                                        <option value="3">Непросмотренные</option>
                                        <option value="4">Просмотренные без ответа</option>
                                        <option value="5">С моими ответами</option>
                                    </select>

                                </div>
                            </div>
                        </div><!--//items-block-right-sorting-->
                        <div class="technique-order-wrapper">
                            {% for order in all_orders %}
                                <div class="technique-order-item block-bordered">
                                    <a href="{% url 'technique_order_detail' order.name_slug %}">
                                        <div class="technique-order-item-top">
                                            <p>Название</p>
                                            <p>Номер заявки: {{ order.id }}</p>
                                            <p>Срок аренды : {{ order.rent_time }} {{order.get_rent_type_short}}</p>
                                            <div class="rating technique-order-rating">
                                                <p class="rating-value">{{ order.customer.rating }}</p>
                                                <div class="rating-inner">
                                                    <ul class="rating-inner-stars">
                                                        {% for r in rating%}
                                                            <li class="rating-inner-star
                                                               {% if forloop.counter <= order.customer.rating %}star-colored{% endif %}">
                                                                <i class="fa fa-star"></i></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="technique-order-item-middle">
                                            <p>{{ order.name }}</p>
                                        </div>
                                        <div class="technique-order-item-bottom">
                                            <ul>
                                                <li>{{ order.type.name }}</li>
                                                <li>{{ order.section.name }}</li>
                                                <li>{{ order.sub_section.name }}</li>
                                            </ul>
                                            <p><i class="fa fa-map-marker"></i>{{ order.get_location }}</p>
                                            <p><i class="fa fa-calendar"></i> {{ order.order_date }}</p>
                                        </div>
                                    </a>
                                </div><!--//technique-order-item-->
                            {% endfor %}

                        </div><!--//technique-order-wrapper-->

                    </div><!--//items-block-right-->
                </div><!--//items-block-wrapper-->

            </section><!--//items-->
        </div><!--//container-->
    </div><!--//main-->
{% endblock %}
{% block js %}
    {{ block.super }}
     <!-- get section && subsection-->
    <script>
        let typeSelect = document.getElementById('type_select')
        let sectionSelect = document.getElementById('section_select')
        let subsectionSelect = document.getElementById('subsection_select')

        function clearSelect(el){
            let elem = document.querySelectorAll(`.${el}`)
            elem.forEach(function (i) {
                console.log('Elem to clear:',i)
                i.remove()
            })
        }

        function createOption(name_slug,name,target,ro) {
            let option = document.createElement("option")
            option.text = name
            option.value = name_slug
            if (ro){
                option.setAttribute('disabled','disabled')
                option.setAttribute('selected','selected')
            }
            option.classList.add(`${target}-name`)
            return option

        }
        function getSubcat(name_slug,target) {
            let body = {'type':name_slug,'target':target}
            fetch('/catalog/get_type_sublists/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if (target === 'section'){
                        //sectionSelect.appendChild(createOption('all','Выберите раздел',target))
                        for (x of res) {
                            //console.log(x['id'])
                            sectionSelect.appendChild(createOption(x['name_slug'],x['name'],target))
                        }
                    }
                    if (target === 'subsection'){
                        //subsectionSelect.appendChild(createOption('all','Выберите подраздел',target))
                        for (x of res) {
                            //console.log(x['id'])
                            subsectionSelect.appendChild(createOption(x['name_slug'],x['name'],target))
                        }
                    }
                })
        }

        typeSelect.addEventListener('change',()=>{
            clearSelect('section-name')
            clearSelect('subsection-name')
            getSubcat(typeSelect.options[typeSelect.selectedIndex].value,'section')

        })
        sectionSelect.addEventListener('change',()=>{
            clearSelect('subsection-name')
            getSubcat(sectionSelect.options[sectionSelect.selectedIndex].value,'subsection')
        })
    </script>
    <!-- //get section && subsection-->
{% endblock %}