{% extends 'basic.html' %}
{% load static %}
{% block content %}

    <div class="main">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">главная</a></li>
                    <li>заявки на технику</li>
                </ul>
            </div><!--//breadcrumbs-->


            <section class="items-block">
                <div class="section-header"><h1>заявки на технику</h1></div>
                <div class="items-block-wrapper">
                    <div class="items-block-left">

                        <div class="item-filter">
                            <form action="">
                                <p>Поиск по названию</p>
                                <input type="text">
                                <p>География</p>
                                <input type="text">
                                <p>Тип</p>
                                <select name="" id="">
                                    <option value=""></option>
                                </select>
                                <p>Раздел</p>
                                <select name="" id="">
                                    <option value=""></option>
                                </select>
                                <p>Подраздел</p>
                                <select name="" id="">
                                    <option value=""></option>
                                </select>


                                <button type="submit" class="btn">поиск</button>

                            </form>


                        </div>

                    </div><!--//items-block-left-->
                    <div class="items-block-right">
                        <div class="items-block-right-sorting">
                            <div class="items-block-right-sorting-inner">
                                <div class="items-block-right-sorting-inner-display">
                                    <p>Отбор заявок</p>

                                    <select class="custom-select-box">
                                        <option value="1">Новые</option>
                                        <option value="0">Все</option>
                                        <option value="2">Я не ответил</option>
                                        <option value="3">Непросмотренные</option>
                                        <option value="4">Просмотренные без ответа</option>
                                        <option value="5">С моими ответами</option>
                                    </select>

                                </div>
                            </div>
                        </div><!--//items-block-right-sorting-->
                        <div class="technique-order-wrapper">
                            {% for order in all_orders %}
                                <div class="technique-order-item block-bordered">
                                    <a href="{% url 'technique_order_detail' order.name_slug %}">
                                        <div class="technique-order-item-top">
                                            <p>Название</p>
                                            <p>Номер заявки: {{ order.id }}</p>
                                            <p>Срок аренды : {{ order.rent_time }} {{order.get_rent_type_short}}</p>
                                            <div class="rating technique-order-rating">
                                                <p class="rating-value">{{ order.customer.rating }}</p>
                                                <div class="rating-inner">
                                                    <ul class="rating-inner-stars">
                                                        {% for r in rating%}
                                                            <li class="rating-inner-star
                                                               {% if forloop.counter <= order.customer.rating %}star-colored{% endif %}">
                                                                <i class="fa fa-star"></i></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="technique-order-item-middle">
                                            <p>{{ order.name }}</p>
                                        </div>
                                        <div class="technique-order-item-bottom">
                                            <ul>
                                                <li>{{ order.type.name }}</li>
                                                <li>{{ order.section.name }}</li>
                                                <li>{{ order.sub_section.name }}</li>
                                            </ul>
                                            <p><i class="fa fa-map-marker"></i>{{ order.get_location }}</p>
                                            <p><i class="fa fa-calendar"></i> {{ order.order_date }}</p>
                                        </div>
                                    </a>
                                </div><!--//technique-order-item-->
                            {% endfor %}

                        </div><!--//technique-order-wrapper-->

                    </div><!--//items-block-right-->
                </div><!--//items-block-wrapper-->

            </section><!--//items-->
        </div><!--//container-->
    </div><!--//main-->
{% endblock %}
{% block js %}
    {{ block.super }}

{% endblock %}