{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="main">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">главная</a></li>
                    <li><a href="{% url 'technique_all_orders' %}">заявки на технику</a></li>
                    <li>детали заявки № {{ order.id }}</li>
                </ul>
            </div><!--//breadcrumbs-->


            <section class="item-block">
                <div class="section-header"><h1>детали заявки № {{ order.id }}</h1></div>
                <div class="item-block-wrapper">
                    <div class="item-block-left">

                        <div class="item-owner block-bordered mb-20">
                            <div class="item-owner-info">
                                <img src="{{ order.customer.get_avatar }}" alt="">
                                <p>{{ order.customer.first_name }}</p>
                                <span>зарегистрирован {{ order.customer.date_joined | date }}</span>
                            </div>
                            <div class="item-owner-contact">
                                <p class="item-owner-contact-row">
                                    {% if request.user.is_authenticated %}
                                        <i class="fa fa-phone"></i> <a href="tel:+71231112233">+71231112233</a><span>... показать номер</span>
                                    {% else %}
                                        <i class="fa fa-phone"></i> недоступно

                                    {% endif %}
                                </p>
                                <p class="item-owner-contact-row">
                                    <i class="fa fa-map-marker"></i>
                                    {% if order.customer.city.city %}
                                        {{ order.customer.city.city }}, {{ order.customer.city.region }}
                                    {% else %}
                                        не указано
                                    {% endif %}
                                </p>
                            </div>
                           {% if order.customer != request.user %}
                                {% if request.user.is_authenticated %}
                                    <span id="message_toggle" class="btn btn-link " onclick="messageToggle()">отправить сообщение</span>
                                    <div id="new_message" class="new-message " >
                                        <textarea id="message" style="width: 100%" name="message" cols="30" rows="10"></textarea>
                                        <span class="btn btn-link" onclick="sendMsg('order',{{ order.id }},{{ order.customer.id }},{{ request.user.id }})">отправить</span>
                                    </div>
                                {% else %}
                                    <span class="btn btn-link" onclick="openModal()">отправить сообщение</span>
                                {% endif %}
                            {% endif %}
                        </div><!--//item-owner-->
                        <div class="item-owner-other-technique block-bordered">
                            <p class="text-center">ПОХОЖИЕ ЗАЯВКИ</p>
                            <div class="hr"></div>
                            <div class="item-owner-other-technique-item">
                                <a href="">
                                    <ul>
                                        <li>lorem</li>
                                        <li>lorem</li>
                                        <li>lorem</li>
                                    </ul>
                                    <p class="item-owner-other-technique-item-info">
                                        <i class="fa fa-map-marker"></i> <span>от 1 Д</span>
                                    </p>
                                    <p class="item-owner-other-technique-item-info">
                                        <i class="fa fa-calendar"></i> <span>1 <i class="fa fa-rub"></i>/день</span>
                                    </p>
                                </a>
                            </div><!--//item-owner-other-technique-item-->
                            <div class="item-owner-other-technique-item">
                                <a href="">
                                    <p class="item-owner-other-technique-item-name">Lorem ipsum dolor sit amet.</p>
                                    <p class="item-owner-other-technique-item-info">
                                        <img src="img/time-icon.png" alt=""> <span>от 1 Д</span>  <img src="img/money-icon.png" alt=""> <span>1 <i class="fa fa-rub"></i>/день</span>
                                    </p>
                                </a>
                            </div><!--//item-owner-other-technique-item-->
                            <div class="item-owner-other-technique-item">
                                <a href="">
                                    <p class="item-owner-other-technique-item-name">Lorem ipsum dolor sit amet.</p>
                                    <p class="item-owner-other-technique-item-info">
                                        <img src="img/time-icon.png" alt=""> <span>от 1 Д</span>  <img src="img/money-icon.png" alt=""> <span>1 <i class="fa fa-rub"></i>/день</span>
                                    </p>
                                </a>
                            </div><!--//item-owner-other-technique-item-->
                        </div><!--//item-owner-other-technique-->


                    </div><!--//item-block-left-->
                    <div class="item-block-right ">
                        <div class="technique-order-item block-bordered no-hover">
                            <div class="technique-order-item-bottom order-detail">
                                <p><i class="fa fa-calendar"></i> {{ order.order_date }}</p>

                                <p><i class="fa fa-map-marker"></i> {{ order.get_location }}</p>
                                <p>Заказчик: {{ order.customer.first_name }}</p>

                            </div>
                            <div class="technique-order-item-top">

                                <p>Срок аренды {{ order.rent_time }} {{ order.get_rent_type_short }}</p>
                                <div class="rating technique-order-rating order-detail">
                                    <p class="rating-value">{{ order.customer.rating }}</p>
                                    <div class="rating-inner">
                                        <ul class="rating-inner-stars">
                                            {% for r in rating%}
                                                <li class="rating-inner-star
                                                             {% if forloop.counter <= order.customer.rating %}star-colored{% endif %}">
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% if order.comment %}
                                <div class="technique-order-item-middle">
                                    <p>Комментарий:</p>
                                    <p>{{ order.comment }}</p>
                                </div>
                            {% endif %}


                        </div><!--//technique-order-item-->
                    {% if not apply_accepted %}
                        {% if can_apply %}
                            <span class="btn btn-link by-center" onclick="openModal()">предложить свою технику</span>
                            {% else %}
                            <span class="btn btn-link by-center btn-disabled">Вы уже сделали отклик</span>
                        {% endif %}
                        {% else %}
                            {% if not order.is_finished %}
                                <p class="text-center">Вас выбрали исполнителем</p>
                            {% else %}
                                {% if  not order.worker_feedback%}
                                    <form action="{% url 'create_feedback' %}" method="post">{% csrf_token %}
                                <div class="form-row">
                                    <label >Оценка</label>
                                    <select required name="rating" >
                                        <option  value="5">Отлично, рекомендую!</option>
                                        <option value="4">Хорошо, можно работать</option>
                                        <option value="3">Не плохо, но можно лучше</option>
                                        <option value="2">Не рекомендую</option>
                                        <option value="1">Ужасно</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label >Отвыз о заказчике</label>
                                    <textarea required name="feedback"></textarea>
                                </div>
                                    <input type="hidden" name="id" value="{{ order.id }}">
                                    <input type="hidden" name="type" value="by_w">
                                <button type="submit" class="btn btn-link by-center">Сохранить отзыв</button>
                                </form>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                    </div><!--//item-block-right-->
                </div><!--//item-block-wrapper-->

            </section><!--//item-->
        </div><!--//container-->
        <div id="openModal" class="modal">
            <div id="modal_login" class="modal-dialog " >
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title section-header">Предложите технику и цену</h3>
                        <a href="#close" title="Close" onclick="openModal()" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'technique_order_apply' %}" method="post">{% csrf_token %}
                          {% if my_technique %}
                                 <select style="width: 100%;margin-bottom: 20px"  name="technique_for_order" required>
                                {% for t in my_technique %}
                                    <option value="{{ t.id }}">{{ t.name }}</option>

                                {% endfor %}
                                </select>
                              <input type="hidden" name="order_id" value="{{ order.id }}">
                              <input type="hidden" name="user_id" value="{{ request.user.id }}">
                              <input class="mb-20" required style="width: 100%" type="number" min="0" name="price" placeholder="Цена">

                        <button type="submit" class="btn btn-link by-center mb-20" >предложить</button>
                                {% else %}
                                <p>У вас нет подходящей техники для предложения</p>
                            {% endif %}
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--//main-->
{% endblock %}
{% block js %}
    {{ block.super }}

{% endblock %}