.features
  &-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(215px,1fr))
    grid-column-gap: 20px
    grid-row-gap: 50px
  &-item
    text-align: center
    &-icon
      width: 110px
      height: 110px
      display: flex
      align-items: center
      justify-content: center
      transform: rotate(45deg)
      border: 2px dashed $color-red
      margin: 0 auto
      margin-bottom: 40px
      img
        transform: rotate(315deg)
        user-select: none
    p
      font-size: 20px
      font-weight: 600
      line-height: 20px
      span
        font-weight: 300
        font-size: 16px
        color: $color-text-grey






