{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>PANDIGA - Клубная аренда техники</title>

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastify.css' %}">
    <style>
        .cke_1, .cke_2{
            flex-grow: 1 ;
        }
    </style>
</head>
<body>
<form style="display: none" id="dummy_form" >{% csrf_token %}</form>
{% include 'header.html' %}
{% csrf_token %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}
{% if request.user.is_authenticated and not profile_ok and not lkPage %}
<div id="openModal" class="modal modal-active">
        <div id="modal_login" class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title section-header">Заполните профиль</h3>
                    <a href="#close" title="Close" onclick="openModal()" class="close">×</a>
                </div>
                <div class="modal-body">
                   <p class="modal-error-text">Ваш профиль заполнен не полностью.</p>
                    <a class="btn btn-link by-center" href="{% url 'lk_page' %}?tab=tab-profile">Заполнить профиль</a>

                </div>
            </div>
        </div>
    </div>
{% endif %}
{% block js %}
    <script src="{% static 'js/toastify.js' %}"></script>
    <script>
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value

        let allNotificatons_count=document.getElementById('allNotificatons_count'),
            allUnreadChats_count=document.getElementById('allUnreadChats_count'),
            menu_allNotificatons_count=document.getElementById('menu_allNotificatons_count'),
            menu_allUnreadChats_count=document.getElementById('menu_allUnreadChats_count')

        let cityId = document.getElementById('city_id'),
            typeId = document.getElementById('type_id'),
            sectionId = document.getElementById('section_id'),
            sub_sectionId = document.getElementById('sub_section_id'),
            search_result = document.getElementById('search_result'),
            query_input = document.getElementById('query_input')


        function openModal() {
            document.getElementsByClassName('modal')[0].classList.toggle('modal-active')
        }
    </script>
    <!-- getCities-->
    <script>
        function getCities(el) {
            let citySelectList = document.getElementById('city_select_list')

            if (el.value.length <= 2){
                console.log('too small')
                cityId.value = 'all'
                return
            }else{
                console.log(el.value)
                el.disabled = true
                let body = {'query':el.value}
                fetch('/get_city/', {
                    method: 'post',
                    body: JSON.stringify(body),
                    headers: { "X-CSRFToken": csrfmiddlewaretoken },
                    credentials: 'same-origin'
                }).then(res=>res.json())
                    .then(res => {
                        console.log(res)
                        el.disabled = false
                        el.focus()
                        if (res.length >= 1){
                            citySelectList.innerHTML = ''
                            for(i of res){
                                citySelectList.innerHTML = citySelectList.innerHTML +
                                    `<p data-id="${i['id']}" data-coefficient="${i['coefficient']}" data-city="${i['city']}" data-region="${i['region']}" class="city-select-list-item" onclick="setCity(this)">
                                 ${i['city']}
                                 <span>${i['region']}</span>
                             </p>`
                            }
                            citySelectList.classList.add('list-active')
                        }else{
                            citySelectList.classList.remove('list-active')
                        }
                    })
            }
        }

        function setCity(el) {
            let citySelectInput = document.getElementById('city_select_input')
            let citySelectList = document.getElementById('city_select_list')

            citySelectList.classList.remove('list-active')
            citySelectInput.value = `${el.dataset.region}, ${el.dataset.city}`
            cityId.setAttribute('data-coefficient',el.dataset.coefficient)
            cityId.value = el.dataset.id
        }
    </script>
    <!-- //getCities-->
    <!-- //fastSearch-->
    <script>
        function hideSearchResults() {
            search_result.classList.remove('list-active')
            search_result.innerHTML = ''
            query_input.value=''
        }
        function fastSearch(el) {
            if (el.value.length <= 2){
                console.log('too small')
                return
            }else{
                el.disabled = true
                let body = {'query':el.value}
                fetch("{% url 'fast_search' %}", {
                    method: 'post',
                    body: JSON.stringify(body),
                    headers: { "X-CSRFToken": csrfmiddlewaretoken },
                    credentials: 'same-origin'
                }).then(res=>res.json())
                    .then(res => {
                        console.log(res)

                        el.disabled = false
                        el.focus()

                        if (res['result'].length >= 1){
                            search_result.innerHTML = ''
                            for(i of res['result']){
                               // console.log(i)
                                search_result.innerHTML = search_result.innerHTML + `
                                <p><a href="${i['url']}">${i['name']}</a> ${i['path']}</p>
                                `
                            }
                            search_result.classList.add('list-active')
                        }else{
                            search_result.classList.remove('list-active')
                        }
                    })
            }
        }
    </script>
    <!-- //fastSearch-->
    <!-- tabs-->
    <script>
        function openHTab(evt, tabName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("h-tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("h-tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" htab-active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " htab-active";
        }
        function opentab(evt, TabName, type) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("lk-tab");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(` ${type}`, "");
            }
            document.getElementById(TabName).style.display = "block";
            if (TabName==='tab-notification'){
                markNotificationRead()
            }
            console.log(evt)
            evt.currentTarget.className += ` ${type}`;
            closeChat()
        }
    </script>
    <!-- //tabs-->
    <!--send message -->
    <script>
        let openBtn = document.getElementById('message_toggle'),
            messageForm = document.getElementById('new_message'),
            msg = document.getElementById('message')
        function messageToggle() {
            messageForm.classList.toggle('new-message-active')
            openBtn.classList.toggle('not-visible')
            msg.focus()
        }

        function sendMsg(type,id,msgTo,msgFrom) {

            let body = {
                chat_type: type,
                id: id,
                msgTo: msgTo,
                msgFrom: msgFrom,
                msg: msg.value
            }
            fetch('/chat/new_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    msg.value = ''
                    messageToggle()
                })
        }

    </script>
    <!--send message -->
    <!--getPhone -->
    <script>
        let user_phone = document.getElementById('user_phone')
        function getPhone(id,el) {
            let body = {iid: id,'ee':'ee'}
            fetch('/user/user_phone/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token  }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if (res['phone']){
                        el.style.display = 'none'
                        user_phone.innerText = res['phone']
                        user_phone.setAttribute('href',`tel:${res['phone']}`)
                    }
                    else {
                        user_phone.style.display = 'none'
                        el.innerHTML='Для просмотра номера нужно <a href = "/user/lk/?tab=tab-tarif">сменить тариф </a>'
                    }
                    getChats(1);
                })
        }
    </script>
    <!--getPhone -->
    {% if request.user.is_authenticated %}
        <script>
            function get_notifications() {
                let body = {id: '{{ request.user.id }}'}
                fetch('/user/get_notifications/', {
                    method: 'post',
                    body: JSON.stringify(body),
                    headers: { "X-CSRFToken": '{{ csrf_token  }}' },
                    credentials: 'same-origin'
                }).then(res=>res.json())
                    .then(res => {
                        console.log(res['notifications_count'])
                        if(res['notifications_count'] > 0){
                            allNotificatons_count.innerHTML=` <span >${res['notifications_count']}</span>`
                            menu_allNotificatons_count.innerText=` ${res['notifications_count']}`
                        }else{
                            allNotificatons_count.innerHTML=''
                            menu_allNotificatons_count.innerText='0'
                        }
                        if(res['unread_chat_count'] > 0){
                            allUnreadChats_count.innerHTML=` <span >${res['unread_chat_count']}</span>`
                            menu_allUnreadChats_count.innerText=`${res['unread_chat_count']}`
                        }else{
                            allUnreadChats_count.innerHTML=''
                            menu_allUnreadChats_count.innerText='0'
                        }

                        for (n of res['notify']){
                            console.log(n)
                            Toastify({
                                text: `${n['text']}`,
                                duration: 0,
                                destination: `${n['url']}`,
                                newWindow: false,
                                close: true,
                                gravity: "bottom", // `top` or `bottom`
                                position: 'right', // `left`, `center` or `right`
                                backgroundColor: "#f80000",
                                stopOnFocus: true, // Prevents dismissing of toast on hover
                                onClick: function(){} // Callback after click
                            }).showToast();
                            new Audio('{% static 'inflicted.ogg' %}').play()
                        }
                    })

            }
            function get_info(){
                setInterval(() => get_notifications(), 5000)

            }
            get_info()
        </script>
    {% endif %}
{% endblock %}
</body>
</html>