{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<form style="display: none" id="dummy_form" >{% csrf_token %}</form>
{% include 'header.html' %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}

{% block js %}
    <script>
       function openModal() {
            document.getElementsByClassName('modal')[0].classList.toggle('modal-active')
        }
    </script>

{% endblock %}
</body>
</html>