{% load static %}
<!DOCTYPE html>
<!-- SKIBORG WAS HERE -->
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>index</title>

    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiny-slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastify.css' %}">
    <style>
        .cke_1, .cke_2{
            flex-grow: 1 ;
        }
    </style>
</head>
<body>
<form style="display: none" id="dummy_form" >{% csrf_token %}</form>
{% include 'header.html' %}
{% csrf_token %}
{% block content %}
{% endblock %}
{% include 'footer.html' %}

{% block js %}
    <script src="{% static 'js/toastify.js' %}"></script>
    <script>
        let csrfmiddlewaretoken = document.getElementsByName('csrfmiddlewaretoken')[0].value
        let cityId = document.getElementById('city_id')
        function openModal() {
            document.getElementsByClassName('modal')[0].classList.toggle('modal-active')
        }
    </script>
    <!-- getCities-->
    <script>
        function getCities(el) {
            let citySelectList = document.getElementById('city_select_list')

            if (el.value.length <= 2){
                console.log('too small')
                cityId.value = 'all'
                return
            }else{
                console.log(el.value)
                el.disabled = true
                let body = {'query':el.value}
                fetch('/get_city/', {
                    method: 'post',
                    body: JSON.stringify(body),
                    headers: { "X-CSRFToken": csrfmiddlewaretoken },
                    credentials: 'same-origin'
                }).then(res=>res.json())
                    .then(res => {
                        console.log(res)
                        el.disabled = false
                        el.focus()
                        if (res.length >= 1){
                            citySelectList.innerHTML = ''
                            for(i of res){

                                citySelectList.innerHTML = citySelectList.innerHTML +
                                    `<p data-id="${i['id']}" data-city="${i['city']}" data-region="${i['region']}" class="city-select-list-item" onclick="setCity(this)">
                                 ${i['city']}
                                 <span>${i['region']}</span>
                             </p>`
                            }
                            citySelectList.classList.add('list-active')
                        }else{
                            citySelectList.classList.remove('list-active')
                        }

                    })
            }

        }
        function setCity(el) {
            let citySelectInput = document.getElementById('city_select_input')
            let citySelectList = document.getElementById('city_select_list')

            citySelectList.classList.remove('list-active')
            citySelectInput.value = `${el.dataset.region}, ${el.dataset.city}`
            cityId.value = el.dataset.id
        }
    </script>
    <!-- //getCities-->
    <!-- tabs-->
    <script>
        function openHTab(evt, tabName) {
            let i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("h-tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("h-tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" htab-active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " htab-active";
        }
        function opentab(evt, TabName, type) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("lk-tab");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(` ${type}`, "");
            }
            document.getElementById(TabName).style.display = "block";
            if (TabName==='tab-notification'){
                console.log('nottify')
                markNotificationRead()
            }
            console.log(evt)
            evt.currentTarget.className += ` ${type}`;
            closeChat()
        }
    </script>
    <!-- //tabs-->
    <!--send message -->
    <script>
        let openBtn = document.getElementById('message_toggle'),
            messageForm = document.getElementById('new_message'),
            msg = document.getElementById('message')
        function messageToggle() {
            messageForm.classList.toggle('new-message-active')
            openBtn.classList.toggle('not-visible')
            msg.focus()
        }

        function sendMsg(type,id,msgTo,msgFrom) {

            let body = {
                chat_type: type,
                id: id,
                msgTo: msgTo,
                msgFrom: msgFrom,
                msg: msg.value
            }
            fetch('/chat/new_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    msg.value = ''
                    messageToggle()

                })

        }

    </script>
    <!--send message -->
    <!--getPhone -->
    <script>
        let user_phone = document.getElementById('user_phone')
        function getPhone(id,el) {
            let body = {iid: id,'ee':'ee'}
            fetch('/user/user_phone/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token  }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if (res['phone']){
                        el.style.display = 'none'
                        user_phone.innerText = res['phone']
                        user_phone.setAttribute('href',`tel:${res['phone']}`)
                    }
                    else {
                        user_phone.style.display = 'none'
                        el.innerHTML='Для просмотра номера нужно <a href = "/user/lk/?tab=tab-tarif">сменить тариф </a>'
                    }
                    getChats(1);

                })

        }
    </script>
    <!--getPhone -->
    <script>
        function get_notifications() {
            let body = {id: '{{ request.user.id }}'}
            fetch('/user/get_notifications/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token  }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                })

        }
    </script>
{% endblock %}
</body>
</html>