{% load static %}
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top-wrapper">
                <div class="footer-top-contacts">
                    <img class="footer-top-contacts-logo" src="{% static 'img/logo.png' %}" alt="">
                    <p class="mb-10">служба поддержки</p>
                    <p><a href="mailto:info@pandiga.ru"><i class="fa fa-envelope-o"></i>info@pandiga.ru</a></p>
                    <p><a href="tel:+7499112-44-88"><i class="fa fa-phone"></i>+7(499)112-44-88</a></p>
                    <p><i class="fa fa-clock-o"></i>Пн - Пт с 8:00 до 20:00</p>
                    <p class="mb-10"><i class="fa fa-clock-o"></i>Сб - Вс с 9:00 до 18:00</p>
                    <p class=" mb-10">Используйте мобильное приложение.<br>Это удобно!</p>
                    <a href=""><img class="footer-top-contacts-mobile" src="{% static 'img/gp.png' %}" alt=""></a>
                    <a href=""><img class="footer-top-contacts-mobile" src="{% static 'img/as.png' %}" alt=""></a>
                </div>
            <div style="display: flex" class="">
                  <div style="margin-right: 50px" class="footer-top-menu">
                    <p>компания</p>
                    <ul>
                        <li><a href="{% url 'about' %}">О проекте</a></li>
                        <li><a href="{% url 'vacancies' %}">Вакансии</a></li>
                        <li><a href="{% url 'servicerules' %}">Правила сервиса</a></li>
                        <li><a href="{% url 'forpartners' %}">Партнерская программа</a></li>
                        <li><a href="{% url 'questions' %}">Частые вопросы</a></li>
                        <li><a href="{% url 'fortechniqueowners' %}">Для исполнителей</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer-top-menu">
                    <p>каталог техники</p>
                    <ul>
                          {% for technique in all_Technique %}
                              <li> <a href="{% url 'technique_type_catalog' technique.name_slug %}">{{ technique.name }}</a>
                        {% endfor %}

                    </ul>
                </div>
            </div>


            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrapper">
                <p>PANDIGA © 2020. All rights reserved.</p>
{#                <div class="footer-bottom-social">#}
{#                    <p>Мы в соц. сетях</p>#}
{#                    <a href="" rel="nofollow"><i class="fa fa-facebook"></i></a>#}
{#                    <a href="" rel="nofollow"><i class="fa fa-google-plus-official"></i></a>#}
{#                    <a href="" rel="nofollow"><i class="fa fa-vk"></i></a>#}
{#                </div>#}
            </div>
        </div>
    </div>

</footer>