{% load static %}
<header class="header {% if indexPage %}home-header{% endif %}">
    <div class="header-wrapper">
        <div class="header-dropdown">
            <div class="header-dropdown-toggle"></div><!-- //header-dropdown-toggle-->
            <div class="header-dropdown-menu">

            </div><!-- //header-dropdown-menu-->
        </div><!-- //header-dropdown-->
        <div class="header-logo">
            <a href="/"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div class="header-nav">
            <ul class="header-nav-wrapper">
                {% if request.user.is_customer %}
                    <li class="header-nav-item"><a class="{{ addTechniqueOrderActive }} header-nav-link" href="{% url 'technique_order' %}">создать заявку на технику</a></li>
                {% else %}
                    <li class="header-nav-item"><a class="{{ addTechniqueActive }} header-nav-link" href="{% url 'add_technique' %}">добавить свою технику</a></li>
                {% endif %}
                <li class="header-nav-item"><a class="{{ catalogTechniqueActive }} header-nav-link" href="{% url 'technique_catalog' %}">каталог техники</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#">работа</a></li>
                {% if request.user.is_customer %}
                    <li class="header-nav-item"><a class="header-nav-link" href="#">партнерская программа</a></li>
                {% else %}
                    {% if request.user.is_authenticated %}
                        <li class="header-nav-item"><a class="header-nav-link" href="{% url 'technique_all_orders' %}">заявки на технику</a></li>
                    {% else %}
                        <li class="header-nav-item"><a class="header-nav-link" href="#">для владельцев техники</a></li>
                    {% endif %}

                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="user-menu">
                        <a class="user-menu-link" href="javascript: void(0)">{{ request.user.first_name }} {{ request.user.id }}</a>
                        <a class="user-menu-link user-menu-mail" href="{% url 'lk_page' %}?tab=tab-chat">
                            <i class="fa fa-envelope">
                                <span>{{ allUnreadChats.count }}</span>
                            </i>
                        </a>

                        <div class="user-menu-dropdown">
                            <div class="user-menu-dropdown-group">
                                {% if request.user.is_customer %}
                                    <a href="#" class="user-menu-dropdown-toggle user-menu-active">заказчик</a>
                                    <a href="{% url 'change_status' %}" class="user-menu-dropdown-toggle">исполнитель</a>
                                {% else %}
                                    <a href="{% url 'change_status' %}" class="user-menu-dropdown-toggle ">заказчик</a>
                                    <a href="#" class="user-menu-dropdown-toggle user-menu-active">исполнитель</a>

                                {% endif %}
                            </div>
                            {% if request.user.is_customer %}
                                <ul class="user-menu-dropdown-wrapper"><!-- меню исполнителя-->

                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-chat">диалоги ({{ allChats.count }} / {{ allUnreadChats.count }})</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-my-fav">избранное ({{ techniqueItemsFavorite.count }})</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-orders">мои заявки на технику ({{ my_technique_orders.count }})</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-my-job">мои заявки на работу (0)</a>
                                    </li>

                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-finance">финансовые операции</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-feedback">отзывы</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-money-earn">заработок в системе</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-profile">мой профиль</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-settings">настройки</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'logout_page' %}">выйти</a>
                                    </li>

                                </ul><!-- меню заказчика-->

                            {% else %}
                                <ul  class="user-menu-dropdown-wrapper"><!-- меню исполнителя-->
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-balance">баланс: {{ my_balance }} <i class="fa fa-rub"></i></a>
                                        <a class="user-menu-dropdown-link link-small" href="">пополнить</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-tarif">тариф: {{ my_tarif.short_name }} </a>
                                        <a class="user-menu-dropdown-link link-small" href="">изменить</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-chat">диалоги ({{ allChats.count }} / {{ allUnreadChats.count }})</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-my-cars">моя техника ({{ my_technique.count }})</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-my-orders-apply">отклики на заявки ({{ all_orders_apply.count }})</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-my-job">отклики на работу (0)</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-finance">финансовые операции</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-feedback">отзывы</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-money-earn">заработок в системе</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-profile">мой профиль</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'lk_page' %}?tab=tab-settings">настройки</a>
                                    </li>
                                    <li class="user-menu-dropdown-item">
                                        <a  class="user-menu-dropdown-link" href="{% url 'logout_page' %}">выйти</a>
                                    </li>

                                </ul><!-- меню исполнителя-->
                            {% endif %}
                        </div>
                        {% else %}
                    <li class="header-nav-item"><a class="{{ loginActive }} header-nav-link" href="{% url 'login_page' %}">вход</a></li>
                {% endif %}

                </li>
            </ul>
        </div><!-- //header-nav-->

        <div class="header-mobile">
            <div class="header-mobile-toggle"></div><!-- //header-mobile-toggle-->
            <div class="header-mobile-menu">

            </div><!-- //header-mobile-menu-->
        </div><!-- //header-mobile-->
    </div>
    {% if indexPage %}
        <div class="header-offer">

            <div class="header-offer-wrapper">
                <div class="header-offer-text">
                    <h1>АРЕНДА ТЕХНИКИ ДЛЯ РАБОТЫ И ОТДЫХА</h1>
                    <p>СПЕЦТЕХНИКА, АВТО, МОТО, ВОДНАЯ ТЕХНИКА И МНОГО ДРУГОЕ</p>
                </div>
                <div class="header-offer-form">
                    <form action="">
                        <input type="text" name="query" placeholder="Название техники или инструмента">
                        <button class="btn" type="submit">найти</button>
                    </form>
                </div>
            </div><!-- //header-offer-wrapper-->

        </div><!-- //header-offer-->
    {% endif %}
</header><!-- //header-->