{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">главная</a></li>
                <li>партнёрская программа</li>
            </ul>
        </div><!--//breadcrumbs-->
    </div><!--//container-->

    <section class="static-content">
        <div class="container">
            <div class="static-content-wrapper">
                <div class="static-content-menu">
                    <ul >
                        <li><a href="{% url 'about' %}" >о проекте</a></li>
                        <li><a href="{% url 'vacancies' %}">вакансии</a></li>
                        <li><a href="{% url 'tarif' %}">Возможности профиля</a></li>
                        <li><a href="{% url 'forpartners' %}" >партнёрская программа</a></li>
                        <li><a href="{% url 'servicerules' %}">правила сервиса</a></li>
                        <li><a href="{% url 'questions' %}">частые вопросы</a></li>
                        <li><a href="{% url 'forpartners' %}" class="link-active">для заказчиков</a></li>
                        <li><a href="{% url 'fortechniqueowners' %}">для исполнителей</a></li>
                        <li><a href="{% url 'contacts' %}">контакты</a></li>
                    </ul>
                </div><!--//content-menu-->
                <div class="static-content-block">
                    <h1>партнерская программа</h1>
                    <h3>как стать партнёром?</h3>
                    <div class="static-content-grid">
                        <div class="static-content-grid-item">
                            <div class="static-content-grid-item-image step-1">
                                <div class="static-content-grid-item-image-inner">
                                    <p>01</p>
                                    <span>шаг</span>
                                </div>
                            </div>
                            <p><a href="#">авторизуйтесь</a> на сайте, если вы еще этого не сделали</p>
                        </div><!--//static-content-grid-item-->
                         <div class="static-content-grid-item">
                            <div class="static-content-grid-item-image step-2">
                                <div class="static-content-grid-item-image-inner">
                                    <p>02</p>
                                    <span>шаг</span>
                                </div>
                            </div>
                            <p>подключайте к pandigaу новых участников используя свой уникальный промо код</p>
                        </div><!--//static-content-grid-item-->
                         <div class="static-content-grid-item">
                            <div class="static-content-grid-item-image step-3">
                                <div class="static-content-grid-item-image-inner">
                                    <p>03</p>
                                    <span>шаг</span>
                                </div>
                            </div>
                            <p>при этом каждый новый пользователь получит максимальный тариф pro</p>
                        </div><!--//static-content-grid-item-->
                         <div class="static-content-grid-item">
                            <div class="static-content-grid-item-image step-4">
                                <div class="static-content-grid-item-image-inner">
                                    <p>04</p>
                                    <span>шаг</span>
                                </div>
                            </div>
                            <p>а вы будете получать до 10% от всех заказанных им платных услуг</p>
                        </div><!--//static-content-grid-item-->
                         <div class="static-content-grid-item">
                            <div class="static-content-grid-item-image step-5">
                                <div class="static-content-grid-item-image-inner">
                                    <p>05</p>
                                    <span>шаг</span>
                                </div>
                            </div>
                            <p>заработанные даньги можно вывести на счет или оплачивать услуги pandiga</p>
                        </div><!--//static-content-grid-item-->
                    </div><!--//static-content-grid-->

                </div><!--//content-block-->
            </div><!--//content-wrapper-->
        </div><!--//container-->
    </section><!--//static-content-->

</div><!--//main-->
{% endblock %}
{% block js %}
      {{ block.super }}

{% endblock %}


