{% extends 'basic.html' %}
{% load static %}
{% block content %}
<div class="main">
    <section class="features">
        <div class="container">
            <div class="section-header mb-60"><h3>НАШИ ВОЗМОЖНОСТИ</h3></div>
            <div class="features-wrapper">
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-1.png' %}" draggable="false" alt="">
                    </div>
                    <p>БЫСТРЫЙ<br><span>и удобный поиск</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-2.png' %}" draggable="false" alt="">
                    </div>
                    <p>АРЕНДА<br><span>Различной техники,<br> от бульдозера до лимузина</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-3.png' %}" draggable="false" alt="">
                    </div>
                    <p>ТОЛЬКО РЕАЛЬНАЯ<br><span>Проверенная техника</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-4.png' %}" draggable="false" alt="">
                    </div>
                    <p>ГАРАНТИЯ<br><span>Низкие цены благодаря<br> системе торгов</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-5.png' %}" draggable="false" alt="">
                    </div>
                    <p>РЕЙТИНГ<br><span>техники и отзывы одноклубников</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-6.png' %}" draggable="false" alt="">
                    </div>
                    <p>ИСПОЛНИТЕЛИ<br><span>для выполнения абсолютно<br> любой работы</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-7.png' %}" draggable="false" alt="">
                    </div>
                    <p>УДОБНОЕ<br><span>использование через сайт или<br> мобильное приложение</span></p>
                </div><!-- //features-item-->
                <div class="features-item">
                    <div class="features-item-icon">
                        <img src="{% static 'img/feature-icon-8.png' %}" draggable="false" alt="">
                    </div>
                    <p>ОНЛАЙН<br><span>чат внутри клуба</span></p>
                </div><!-- //features-item-->

            </div><!-- //features-wrapper-->
        </div><!-- //container-->
    </section><!-- //features-->
    <section class="home-catalog">
        <div class="container">
            <div class="section-header mb-40"><h3 class="color-white">КАТАЛОГ ТЕХНИКИ</h3></div>
            <div class="home-catalog-wrapper">
                 {% for technique in all_Technique %}
                            <div class="home-catalog-item">
                    <img src="https://placehold.it/40x45" alt="">
                    <p> <a href="{% url 'technique_type_catalog' technique.name_slug %}">{{ technique.name }}</a></p>
                 </div><!--//home-catalog-item-->
                        {% endfor %}


            </div><!--//home-catalog-wrapper-->
            <a class="btn btn-link by-center" href="{% url 'add_technique' %}">Добавить свою технику</a>
        </div><!--//container-->
    </section><!--//home-catalog-->
  <section class="work-request">
        <div class="container">
            <div class="section-header"><h3>Рекомендуемая техника</h3></div>
            <div class="work-request-wrapper">
                 {% for technique in all_technique %}
                                <div class="item-grid">
                                    <a href="{% url 'technique' technique.sub_section.section.type.name_slug technique.sub_section.section.name_slug technique.sub_section.name_slug technique.name_slug%}">
                                        <div class="item-image" style="background: url({{ technique.get_main_image }})">
                                            {% if technique.is_free %}
                                                <span  class="item-free">свободен</span>
                                            {% else %}
                                                <span  class="item-busy">занят</span>
                                            {% endif %}
                                        </div>
                                        <div class="item-info">
                                            <div class="item-info-top">
                                                <div class="rating item-rating">
                                                    <p class="rating-value">{{ technique.get_rating }}</p>
                                                    <div class="rating-inner">
                                                        <ul class="rating-inner-stars">
                                                            {% for r in rating%}

                                                                <li class="rating-inner-star
                                                               {% if forloop.counter <= technique.get_rating %}star-colored{% endif %}">
                                                                    <i class="fa fa-star"></i></li>
                                                            {% endfor %}



                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="item-name">{{ technique.name }}</div>
                                            </div>
                                            <div class="item-info-bottom">
                                                <div class="item-info-user">
                                                    <div class="item-info-user-avatar"><img src="{{ technique.owner.get_avatar }}" alt=""></div>
                                                    <div class="item-info-user-name"><p>
                                                        <a href="#">
                                                        {{ technique.owner.first_name }}
                                                        {% if  technique.owner.last_name %}
                                                            {{ technique.owner.last_name }}
                                                        {% endif %}
                                                    </a>
                                                    </p></div>
                                                </div>
                                                <div class="item-info-price">
                                                    <div class="item-info-price-time"><p class="item-info-price-time-value">от
                                                        <span>{{ technique.min_rent_time }}</span>
                                                        {% if technique.rent_type == 'hour' %}
                                                            Ч
                                                        {% elif technique.rent_type == 'day'%}
                                                            Д
                                                        {% endif %}
                                                    </p>
                                                    </div>
                                                    <div class="item-info-price-money"><p class="item-info-price-money-value">
                                                        <span>{{ technique.rent_price }}</span>
                                                        {% if technique.rent_type == 'hour' %}
                                                            <p>руб/час</p>
                                                        {% elif technique.rent_type == 'day'%}
                                                            <p>руб/день</p>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </a>
                                </div><!--//item-grid-->
                            {% endfor %}


            </div><!--//work-request-wrapper-->
            
        </div><!--//container-->
    </section><!--//work-request-->
    <section class="how-it-work">
        <div class="container">
            <div class="section-header mb-60"><h3>КАК ЭТО РАБОТАЕТ</h3></div>
            <div class="how-it-work-wrapper">
                <div class="how-it-work-item">
                    <div class="how-it-work-item-icon">
                        <img src="{% static 'img/how-it-works-icon-1.png' %}" alt="">
                    </div>
                    <h4>ВЫ ХОТИТЕ АРЕНДОВАТЬ ТЕХНИКУ</h4>
                    <p><a href="#">Авторизуйтесь</a> на сайте, если вы еще этого не сделали</p>
                    <p><a href="#">Создайте заявку</a> на нужную Вам технику или выбирайте ее в каталоге</p>
                    <p>Владельцы техники получат уведомления о Вашей заявке и отправлят Вам свои предложения</p>
                    <p class="mb-20">Вам останется только выбрать лучшего</p>
                    <a href="" class="link-with-arrow">Узнать подробнее</a>
                </div><!--//how-it-work-item-->
                <div class="how-it-work-item">
                    <div class="how-it-work-item-icon">
                        <img src="{% static 'img/how-it-works-icon-2.png' %}" alt="">
                    </div>
                    <h4>ВЫ ХОТИТЕ НАЙТИ ИСПОЛНИТЕЛЯ</h4>
                    <p><a href="#">Авторизуйтесь</a> на сайте, если вы еще этого не сделали</p>
                    <p><a href="#">Создайте заявку</a> на выполнение нужной вам работы. После чего ваше объявление
                        будет добавлено в раздел <a href="">«Заявки на работу»</a> </p>
                    <p>Исполнители увидят ваше объявление и свяжутся с вами</p>
                    <p class="mb-20">Выберите нужного исполнителя и поручите ему выполнение работы</p>
                    <a href="" class="link-with-arrow">Узнать подробнее</a>
                </div><!--//how-it-work-item-->
            </div><!--//how-it-work-wrapper-->
        </div><!--//container-->
    </section><!--//how-it-work-->
    <section class="work-request">
        <div class="container">
            <div class="section-header"><h3>заявки на работу</h3></div>
            <div class="work-request-wrapper">
                <div class="work-request-item">
                    <img src="https://placehold.it/250x230" alt="">
                    <div>
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                        <p class="work-request-item-price">
                            1000 <i class="fa fa-rub"></i>
                        </p>
                    </div>
                </div><!--//work-request-item-->
                <div class="work-request-item">
                    <a href="">
                        <img src="https://placehold.it/250x230" alt="">
                    </a>
                    <a href="">
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                    </a>
                    <p class="work-request-item-price">
                        1000 <i class="fa fa-rub"></i>
                    </p>
                </div><!--//work-request-item-->
                <div class="work-request-item">
                    <a href="">
                        <img src="https://placehold.it/250x230" alt="">
                    </a>
                    <a href="">
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                    </a>
                    <p class="work-request-item-price">
                        1000 <i class="fa fa-rub"></i>
                    </p>
                </div><!--//work-request-item-->
                <div class="work-request-item">
                    <a href="">
                        <img src="https://placehold.it/250x230" alt="">
                    </a>
                    <a href="">
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                    </a>
                    <p class="work-request-item-price">
                        1000 <i class="fa fa-rub"></i>
                    </p>
                </div><!--//work-request-item-->
                <div class="work-request-item">
                    <a href="">
                        <img src="https://placehold.it/250x230" alt="">
                    </a>
                    <a href="">
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                    </a>
                    <p class="work-request-item-price">
                        1000 <i class="fa fa-rub"></i>
                    </p>
                </div><!--//work-request-item-->
                <div class="work-request-item">
                    <a href="">
                        <img src="https://placehold.it/250x230" alt="">
                    </a>
                    <a href="">
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                    </a>
                    <p class="work-request-item-price">
                        1000 <i class="fa fa-rub"></i>
                    </p>
                </div><!--//work-request-item-->
                <div class="work-request-item">
                    <a href="">
                        <img src="https://placehold.it/250x230" alt="">
                    </a>
                    <a href="">
                        <p class="work-request-item-name">Lorem ipsum dolor.</p>
                        <span class="work-request-item-description">Lorem ipsum dolor m ipsum dolor sit amet.</span>
                    </a>
                    <p class="work-request-item-price">
                        1000 <i class="fa fa-rub"></i>
                    </p>
                </div><!--//work-request-item-->
            </div><!--//work-request-wrapper-->
            <a href="#" class="btn btn-link by-center">Создать заявку</a>
        </div><!--//container-->
    </section><!--//work-request-->
    <section class="mobile-app">
        <div class="container">
            <div class="mobile-app-wrapper">
                <div class="mobile-app-app">
                    <img src="{% static 'img/mobile-app.png' %}" alt="">
                </div>

                <div class="mobile-app-description">
                    <h3>СКАЧАЙТЕ И УСТАНОВИТЕ МОБИЛЬНОЕ<br>ПРИЛОЖЕНИЕ PANDIGA</h3>
                    <p class="text-decorated mb-20">ПОЛНЫЙ ФУНКЦИОНАЛ “PANDIGA” В МОБИЛЬНОМ ПРИЛОЖЕНИИ<br>УДОБНЫЙ ИНТЕРФЕЙС И МИНИМАЛЬНЫЙ ТРАФИК</p>

                    <a href=""><img src="{% static 'img/gp.png' %}" alt=""></a>
                    <a href=""><img src="{% static 'img/as.png' %}" alt=""></a>


                </div>
            </div><!--//mobile-app-wrapper-->
        </div><!--//container-->
    </section><!--//mobile-app-->
    <section class="home-reviews">
        <div class="container">
            <div class="section-header"><h3>отзывы пользователей</h3></div>
            <div class="home-reviews-wrapper">
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна</p>
                            <p>г. Курск</p>
                            <span>УСЛУГИ</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Нашла технику для монтажа рекламных конструкций</p>
                    </div>
                </div><!--//home-reviews-item-->
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна</p>
                            <p>г. Курск</p>
                            <span>УСЛУГИ</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Нашла технику для монтажа рекламных конструкций</p>
                    </div>
                </div><!--//home-reviews-item-->
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна</p>
                            <p>г. Курск</p>
                            <span>УСЛУГИ</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Нашла технику для монтажа рекламных конструкций</p>
                    </div>
                </div><!--//home-reviews-item-->
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна  Татьяна</p>
                            <p>г. ТатьянаТатьяна </p>
                            <span>Татьяна Татьяна</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolorem earum in recusandae ullam! Ab aperiam aspernatur consequatur cumque debitis deleniti doloribus ducimus eligendi harum ipsam modi nostrum, quos rem sed suscipit. Adipisci asperiores laborum nemo pariatur quos reprehenderit vitae.</p>
                    </div>
                </div><!--//home-reviews-item-->
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна</p>
                            <p>г. Курск</p>
                            <span>УСЛУГИ</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Нашла технику для монтажа рекламных конструкций</p>
                    </div>
                </div><!--//home-reviews-item-->
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна</p>
                            <p>г. Курск</p>
                            <span>УСЛУГИ</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Нашла технику для монтажа рекламных конструкций</p>
                    </div>
                </div><!--//home-reviews-item-->
                <div class="home-reviews-item">
                    <div class="home-reviews-item-user">
                        <img src="https://placehold.it/100" alt="">
                        <div class="home-reviews-item-user-info">
                            <p>Татьяна</p>
                            <p>г. Курск</p>
                            <span>УСЛУГИ</span>
                        </div>
                    </div>
                    <div class="home-reviews-item-description">
                        <p>Нашла технику для монтажа рекламных конструкций</p>
                    </div>
                </div><!--//home-reviews-item-->
            </div><!--//home-reviews-wrapper-->
        </div><!--//container-->
    </section><!--//home-reviews-->
    <section class="partner-program">
        <div class="container">
            <h3>партнерская программа для желающих<br>зарабатывать с pandiga</h3>
            <p class="text-decorated">подключите к «pandiga» новых участников!<br>
                получайте до 15% от каждой заказанной платной услуги пользователя
                зарегистрировавшегося по вашему<br>уникальному промо-коду
            </p>
            <a href="#" class="btn btn-link">начать зарабатывать</a>
        </div><!--//container-->
    </section><!--//partner-program-->
</div><!--//main-->
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}