{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="main">
    <div class="container">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">главная</a></li>
                <li>Тарифы</li>
            </ul>
        </div><!--//breadcrumbs-->
    </div><!--//container-->

    <section class="static-content">
        <div class="container">
            <div class="static-content-wrapper">
                <div class="static-content-menu">
                    <ul >
                        <li><a href="{% url 'about' %}">о проекте</a></li>
                        <li><a href="{% url 'vacancies' %}">вакансии</a></li>
                         <li><a href="{% url 'tarif' %}" class="link-active">тарифы</a></li>
                        <li><a href="{% url 'forpartners' %}">партнёрская программа</a></li>
                        <li><a href="{% url 'servicerules' %}"  >правила сервиса</a></li>
                        <li><a href="{% url 'questions' %}">частые вопросы</a></li>
                        <li><a href="{% url 'forpartners' %}">для заказчиков</a></li>
                        <li><a href="{% url 'fortechniqueowners' %}">для исполнителей</a></li>
                        <li><a href="{% url 'contacts' %}">контакты</a></li>
                    </ul>
                </div><!--//content-menu-->
                <div class="static-content-block">
                    <h1>Тарифы</h1>
                           <div class="lk-tab-content-tarif">
                                {% for tarif in all_tarif %}
                                <div class="tarif-item">
                                    <p class="tarif-item-header">{{ tarif.short_name }}</p>
                                    <p class="tarif-item-price">{{ tarif.price }} <i class="fa fa-rub"></i></p>
                                    <p class="tarif-item-name">{{ tarif.name }}</p>
                                    <ul class="tarif-item-feature">
                                        <li class="tarif-item-feature-item">Размещение техники в любой категории <span class="color-red">{{ tarif.technique_count }}</span></li>
                                        <li class="tarif-item-feature-item">Размещение техники в категории строительный инструмент <span class="color-red">{{ tarif.other_count }}</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых заявках через <span class="color-red">{{ tarif.new_orders_delay }}</span> минут после публикации</li>
                                        <li class="tarif-item-feature-item">Доступ к разделу Работа <span class="color-red">{% if tarif.work_section %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых предложениях работы <span class="color-red">{% if tarif.work_notify %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Возможность видеть номер заказчика <span class="color-red">{% if tarif.can_see_phone %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Возможность позвонить Работодателю <span class="color-red">{% if tarif.can_call %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Возможность написать Работодателю <span class="color-red">{% if tarif.can_chat %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Вознаграждение по партнерской программе <span class="color-red">{{ tarif.parter_bonus }}%</span></li>
                                    </ul>


                                </div>
                                {% endfor %}


                            </div>
                </div><!--//content-block-->
            </div><!--//content-wrapper-->
        </div><!--//container-->
    </section><!--//static-content-->

</div><!--//main-->
{% endblock %}
{% block js %}
      {{ block.super }}

{% endblock %}

