<div id="tab-my-cars" class="lk-tab ">
    <div class="lk-tab-my-cars">
        {% for technique in my_technique %}
            <div class="lk-tab-my-cars-item">
            <div class="lk-tab-my-cars-item-img" style="background: url({{ technique.get_main_image }}) no-repeat center; background-size: cover">

            </div>
            <div class="lk-tab-my-cars-item-info">
                <p class="lk-tab-my-cars-item-info-name"><a href="">{{ technique.name }}</a>.</p>
                <p class="lk-tab-my-cars-item-info-category"><span>{{technique.sub_section.section.type.name}}</span> / <span>{{technique.sub_section.section.name}}</span> / <span>{{technique.sub_section.name}}</span></p>
                <div class="lk-tab-my-cars-item-info-price">
                    <p><i class="fa fa-clock-o"></i> от {{ technique.min_rent_time }}
                        {% if technique.rent_type == 'hour' %}
                            ч
                        {% elif technique.rent_type == 'day'%}
                            д
                        {% endif %}
                    </p>
                    <p><i class="fa fa-money"></i> от {{ technique.rent_price }} в
                        {% if technique.rent_type == 'hour' %}
                            час
                        {% elif technique.rent_type == 'day'%}
                            день
                        {% endif %}
                    </p>
                </div>
                <p><i class="fa fa-map-marker"></i>{{ technique.city.region }}, {{ technique.city.city }}</p>

            </div>
            <div class="lk-tab-my-cars-item-info-buttons">
                <a href=""><i class="fa fa-edit"></i></a>
                <a href=""><i class="fa fa-trash"></i></a>
            </div>
        </div><!-- //lk-tab-my-cars-item-->
        {% endfor %}
    </div>


</div><!--//tab-my-cars-->