<div id="tab-my-cars" class="lk-tab ">
    <div class="lk-tab-my-cars">
    {% if not my_technique %}
        <p class="mb-20"> Вы не добавили не одной еденицы техники</p>
        <a class="btn btn-link" href="{% url 'add_technique' %}">добавить технику</a>
    {% endif %}
        {% for technique in my_technique %}
            <div class="lk-tab-my-cars-item">
            <div class="lk-tab-my-cars-item-img" style="background: url({{ technique.get_main_image }}) no-repeat center; background-size: cover">

            </div>
            <div class="lk-tab-my-cars-item-info">
                <p class="lk-tab-my-cars-item-info-name"><a class="lk-tab-my-cars-item-name" href="{{ technique.get_absolute_url }}">{{ technique.name }}</a>.</p>
                <p class="lk-tab-my-cars-item-info-category"><span>{{technique.sub_section.section.type.name}}</span> / <span>{{technique.sub_section.section.name}}</span> / <span>{{technique.sub_section.name}}</span></p>
                <div class="lk-tab-my-cars-item-info-price">
                    <p><i class="fa fa-clock-o"></i> от {{ technique.min_rent_time }}
                        {% if technique.rent_type == 'hour' %}
                            ч
                        {% elif technique.rent_type == 'day'%}
                            д
                        {% endif %}
                    </p>
                    <p><i class="fa fa-money"></i> от {{ technique.rent_price }} в
                        {% if technique.rent_type == 'hour' %}
                            час
                        {% elif technique.rent_type == 'day'%}
                            день
                        {% endif %}
                    </p>
                <p><i class="fa fa-eye"></i> {{ technique.views }}</p>
                </div>
                <p><i class="fa fa-map-marker"></i>{{ technique.city.region }}, {{ technique.city.city }}</p>
                <div style="width: 220px" class="user-menu-dropdown-group">
                                {% if technique.is_free %}
                                    <a href="#" class="user-menu-dropdown-toggle user-menu-active">Свободен</a>
                                    <a href="{% url 'change_technique_status' technique.id %}" class="user-menu-dropdown-toggle">занят</a>
                                {% else %}
                                    <a href="{% url 'change_technique_status' technique.id %}" class="user-menu-dropdown-toggle ">Свободен</a>
                                    <a href="#" class="user-menu-dropdown-toggle user-menu-active">занят</a>

                                {% endif %}
                            </div>

            </div>
            <div class="lk-tab-my-cars-item-info-buttons">
                <a href="{% url 'edit_technique' technique.id %}"><i class="fa fa-edit"></i></a>
                <a href="{% url 'del_technique' technique.id %}" onclick="return confirm('Вы уверены?')"><i class="fa fa-trash"></i></a>
            </div>
        </div><!-- //lk-tab-my-cars-item-->
        {% endfor %}
    </div>
</div><!--//tab-my-cars-->