<div id="tab-finance" class="lk-tab ">
    <div class="lk-tab-finance">
        <div class="lk-tab-finance-item item-header">
            <p class="lk-tab-finance-item-header">ID</p>
            <p class="lk-tab-finance-item-header">дата</p>
            <p class="lk-tab-finance-item-header">сумма</p>
            <p class="lk-tab-finance-item-header">операция</p>
            <p class="lk-tab-finance-item-header">Платёжная система</p>
            <p class="lk-tab-finance-item-header">Статус</p>
            <!--p class="lk-tab-finance-item-header">Действие</p-->
        </div>
{% for payment in all_payments %}
        <div class="lk-tab-finance-item
        {% if payment.is_payed %}
        success-payment
        {% else %}
        error-payment
        {% endif %}">
            <p class="lk-tab-finance-item-item">{{ payment.id }}</p>
            <p class="lk-tab-finance-item-item">{{ payment.created_at | date }}</p>
            <p class="lk-tab-finance-item-item">{{ payment.amount }}</p>
            <p class="lk-tab-finance-item-item">Пополнение</p>
            <p class="lk-tab-finance-item-item">{{ payment.type.name }}</p>
            <p class="lk-tab-finance-item-item">{{ payment.status }}</p>
        </div>
{% endfor %}

    </div>

</div><!--//tab-finance-->