 <div id="tab-tarif" class="lk-tab ">
                            <div class="section-header "><h3>Статусы профиля</h3></div>
                            <div class="lk-tab-content-tarif">
                                {% for tarif in all_tarif %}
                                <div class="tarif-item">
                                    <p class="tarif-item-header">{{ tarif.short_name }}</p>
                                    <p class="tarif-item-price">{{ tarif.price }} <i class="fa fa-rub"></i></p>
                                    <p class="tarif-item-name">{{ tarif.name }}</p>
                                    <ul class="tarif-item-feature">
                                        <li class="tarif-item-feature-item">Размещение техники в любой категории <span class="color-red">{{ tarif.technique_count }}</span></li>
                                        <li class="tarif-item-feature-item">Размещение техники в категории строительный инструмент <span class="color-red">{{ tarif.other_count }}</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых заявках через <span class="color-red">{{ tarif.new_orders_delay }}</span> минут после публикации</li>
                                        <li class="tarif-item-feature-item">Доступ к разделу Работа <span class="color-red">{% if tarif.work_section %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых предложениях работы <span class="color-red">{% if tarif.work_notify %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Возможность видеть номер заказчика <span class="color-red">{% if tarif.can_see_phone %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Возможность позвонить Работодателю <span class="color-red">{% if tarif.can_call %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Возможность написать Работодателю <span class="color-red">{% if tarif.can_chat %}ДА{% else %}НЕТ{% endif %}</span></li>
                                        <li class="tarif-item-feature-item">Вознаграждение по партнерской программе <span class="color-red">{{ tarif.parter_bonus }}%</span></li>
                                    </ul>
                                {% if tarif.id == user.tarif.id %}
                                    <a href="" class="btn btn-disabled">текущий статус</a>
                                {% else %}
                                    {% if user.balance >= tarif.price %}
                                    <a href="{% url 'change_tarif' tarif.id %}" class="btn btn-link">перейти</a>
                                        {% else %}
                                        <a href="{% url 'lk_page' %}?tab=tab-balance" class="btn btn-link">нет средств для перехода</a>
                                        {% endif %}
                                {% endif %}

                                </div>
                                {% endfor %}


                            </div>
                        </div><!--//tab-tarif-->