<div id="tab-my-fav" class="lk-tab ">
    <div class="items-block-right-wrapper">
        {% for technique in techniqueItemsFavorite %}
            <div class="item-grid">
                <a href="{% url 'technique' technique.techniqueitem.sub_section.section.type.name_slug technique.techniqueitem.sub_section.section.name_slug technique.techniqueitem.sub_section.name_slug technique.techniqueitem.name_slug%}">
                    <div class="item-image" style="background: url({{ technique.techniqueitem.get_main_image }})">
                        {% if technique.techniqueitem.is_free %}
                            <span  class="item-free">свободен</span>
                        {% else %}
                            <span  class="item-busy">занят</span>
                        {% endif %}
                    </div>
                    <div class="item-info">
                        <div class="item-info-top">
                            <div class="rating item-rating">
                                <p class="rating-value">{{ technique.techniqueitem.rating }}</p>
                                <div class="rating-inner">
                                    <ul class="rating-inner-stars">
                                        {% for r in rating%}
                                            <li class="rating-inner-star
                                                {% if forloop.counter <= technique.techniqueitem.rating %}star-colored{% endif %}">
                                                <i class="fa fa-star"></i></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="item-name">{{ technique.techniqueitem.name }}</div>
                        </div>
                        <div class="item-info-bottom">
                            <div class="item-info-user">
                                <div class="item-info-user-avatar"><img src="{{ technique.techniqueitem.owner.get_avatar }}" alt=""></div>
                                <div class="item-info-user-name"><p>
                                    {{ technique.techniqueitem.owner.first_name }}
                                    {% if  technique.techniqueitem.owner.last_name %}
                                        {{ technique.techniqueitem.owner.last_name }}
                                    {% endif %}
                                </p></div>
                            </div>
                            <div class="item-info-price">
                                <div class="item-info-price-time"><p class="item-info-price-time-value">от
                                    <span>{{ technique.techniqueitem.min_rent_time }}</span>
                                    {% if technique.techniqueitem.rent_type == 'hour' %}
                                        Ч
                                    {% elif technique.techniqueitem.rent_type == 'day'%}
                                        Д
                                    {% endif %}
                                </p>
                                </div>
                                <div class="item-info-price-money"><p class="item-info-price-money-value">
                                    <span>{{ technique.techniqueitem.rent_price }}</span>
                                    {% if technique.techniqueitem.rent_type == 'hour' %}
                                        <p>руб/час</p>
                                    {% elif technique.techniqueitem.rent_type == 'day'%}
                                        <p>руб/день</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div><!--//item-grid-->
        {% endfor %}
    </div><!--//items-block-right-wrapper-->
</div><!--//tab-my-job-->