 <div id="tab-my-cars" class="lk-tab ">
                            <div class="lk-tab-my-cars">
                                <div class="lk-tab-my-cars-item">
                                    <div class="lk-tab-my-cars-item-img" style="background: url(http://placehold.it/500x300) no-repeat center; background-size: cover">

                                    </div>
                                    <div class="lk-tab-my-cars-item-info">
                                        <p class="lk-tab-my-cars-item-info-name"><a href="">Lorem ipsum dolor sit</a>.</p>
                                        <p class="lk-tab-my-cars-item-info-category"><span>lorem</span> / <span>lorem</span> / <span>lorem</span></p>
                                        <div class="lk-tab-my-cars-item-info-price">
                                            <p><i class="fa fa-clock-o"></i> от 1 ч</p>
                                            <p><i class="fa fa-money"></i> от 1000 руб/час</p>
                                        </div>
                                        <p><i class="fa fa-map-marker"></i> location</p>

                                    </div>
                                    <div class="lk-tab-my-cars-item-info-buttons">
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-trash"></i></a>
                                    </div>
                                </div><!-- //lk-tab-my-cars-item-->
                                <div class="lk-tab-my-cars-item">
                                    <div class="lk-tab-my-cars-item-img" style="background: url(http://placehold.it/500x300) no-repeat center; background-size: cover">

                                    </div>
                                    <div class="lk-tab-my-cars-item-info">
                                        <p class="lk-tab-my-cars-item-info-name">Lorem ipsum dolor sit.</p>
                                        <p class="lk-tab-my-cars-item-info-category"><span>lorem</span> / <span>lorem</span> / <span>lorem</span></p>
                                        <div class="lk-tab-my-cars-item-info-price">
                                            <p><i class="fa fa-clock-o"></i> от 1 ч</p>
                                            <p><i class="fa fa-money"></i> от 1000 руб/час</p>
                                        </div>
                                        <p><i class="fa fa-map-marker"></i> location</p>

                                    </div>
                                    <div class="lk-tab-my-cars-item-info-buttons">
                                        <a href=""><i class="fa fa-edit"></i></a>
                                        <a href=""><i class="fa fa-trash"></i></a>
                                    </div>
                                </div><!-- //lk-tab-my-cars-item-->
                            </div>


                        </div><!--//tab-my-cars-->