   <div id="tab-feedback" class="lk-tab ">
                            <div class="lk-tab-feedback">
                                <div class="tab">
                                    <button  class="h-tablinks htab-active" onclick="openHTab(event, 'my_feedback')">Мои отзывы (0)</button>
                                    <button class="h-tablinks" onclick="openHTab(event, 'feedback_about_me')">Отзывы обо мне (0)</button>
                                </div>
                                <!-- Tab content -->
                                <div id="my_feedback" class="h-tabcontent" style="display: block">
                                    <p>Lorem ipsum dolor sit.</p>
                                </div>
                                <div id="feedback_about_me" class="h-tabcontent">
                                    <p>Lorem ipsum dolor sit1.</p>
                                </div>


                            </div><!--lk-tab-feedback -->

                        </div><!--//tab-feedback-->