<div id="tab-notification" class="lk-tab ">
    <div class="lk-tab-my-cars">
    {% if not all_notificatons %}
        <p class="mb-20"> Новых оповещений нет</p>
    {% endif %}
        {% for notify in all_notificatons %}
               <div class="technique-order-item block-bordered no-hover">
                                <div style="max-width: 100%" class="technique-order-item-top">
                                    <p><i class="fa fa-calendar"></i> {{ notify.createdAt | date }}</p>
                                </div>
                                <div class="technique-order-item-middle">
                                    <p>{{ notify.text }}</p>
                                </div>

                        </div>
        {% endfor %}
    </div>
</div><!--//tab-my-cars-->