<!-- для заказчика-->
<div id="tab-orders" class="lk-tab ">
    <div class="technique-order-wrapper">
        {% for order in my_technique_orders %}
            <div {% if order.is_finished %}style="background:  #7dec97" {% endif %} class="technique-order-item block-bordered">
                <a href="{% url 'lk_page'%}?tab=tab-my-order-detail&order_id={{ order.id }}">
                    <div style="max-width: 100%" class="technique-order-item-top">
                        <p>Номер заявки: {{ order.id }}</p>
                        <p>Срок аренды : {{ order.rent_time }} {{order.get_rent_type_short}}</p>

                            {% if not order.worker %}
                          <p>Предложений :
                           {{ order.applys.count }}</p>
                            {% endif %}

                        {% if not order.is_finished %}
                        <p>Исполнитель :
                        {% if order.worker %}
                            {{ order.worker.get_full_name }}
                            {% else %}
                            Не назначен
                            {% endif %}
                        </p>
                    {% else %}
                            <p>Заявка выполнена</p>
                    {% endif %}

                    </div>
                    <div class="technique-order-item-middle">
                        <p>Название: {{ order.name }}</p>
                    </div>
                    <div class="technique-order-item-bottom">
                        <ul>
                            <li>{{ order.type.name }}</li>
                            <li>{{ order.section.name }}</li>
                            <li>{{ order.sub_section.name }}</li>
                        </ul>
                        <p><i class="fa fa-map-marker"></i>{{ order.get_location }}</p>
                        <p><i class="fa fa-calendar"></i> {{ order.order_date }}</p>
                    </div>
                </a>
            </div><!--//technique-order-item-->
        {% endfor %}
    </div><!--//technique-order-wrapper-->
</div><!--//tab-my-job-->