<div id="tab-money-drop" class="lk-tab ">
    <div class="lk-tab-moneydrop">
        <div class="lk-tab-content-bg">
            <div class="section-header"><h3>Вывести средства</h3></div>
            <form action="">
                <div class="form-row">
                    <label>Сумма</label>
                    <div class="form-row-group">
                        <input type="number" min="0" max="{{ request.user.partner_balance }}" value="0">
                        <span class="btn">Доступно {{ request.user.partner_balance }} <i class="fa fa-rub"></i> Снять всю сумму</span>
                    </div>
                </div>
                <div class="form-row">
                    <label >Тип</label>
                    <div class="form-row-group">
                        <select name="" id="">
                            <option value="">Перечислить на счет сайта</option>
                            <option value="">Вывод на банковскую карту</option>
                        </select>
                        <input type="number" autocomplete="cardnumber" placeholder="Номер карты">
                    </div>
                </div>
                <div class="form-row">
                    <label>Комментарий</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <button type="submit" class="btn btn-link by-center">Выполнить</button>
            </form>
        </div>
    </div><!--//lk-tab-moneyearn-->

</div><!--//tab-money-drop-->