 <div id="tab-tarif" class="lk-tab ">
                            <div class="section-header "><h3>тарифные планы</h3></div>
                            <div class="lk-tab-content-tarif">
                                <div class="tarif-item">
                                    <p class="tarif-item-header">pro</p>
                                    <p class="tarif-item-price">0 <i class="fa fa-rub"></i></p>
                                    <p class="tarif-item-name">Профессионал</p>
                                    <ul class="tarif-item-feature">
                                        <li class="tarif-item-feature-item">Размещение техники в любой категории <span>5</span></li>
                                        <li class="tarif-item-feature-item">Размещение техники в категории строительный инструмент <span>7</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых заявках через <span>5</span> минут после публикации</li>
                                        <li class="tarif-item-feature-item">Доступ к разделу Работа <span>да</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых предложениях работы <span>да</span></li>
                                        <li class="tarif-item-feature-item">Возможность позвонить Работодателю <span>да</span></li>
                                        <li class="tarif-item-feature-item">Возможность написать Работодателю <span>да</span></li>
                                        <li class="tarif-item-feature-item">Вознаграждение по партнерской программе <span>15%</span></li>
                                    </ul>
                                    <a href="" class="btn btn-disabled">текущий тариф</a>

                                </div>
                                <div class="tarif-item">
                                    <p class="tarif-item-header">pro</p>
                                    <p class="tarif-item-price">0 <i class="fa fa-rub"></i></p>
                                    <p class="tarif-item-name">Профессионал</p>
                                    <ul class="tarif-item-feature">
                                        <li class="tarif-item-feature-item">Размещение техники в любой категории <span>3</span></li>
                                        <li class="tarif-item-feature-item">Размещение техники в категории строительный инструмент <span>5</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых заявках через <span>20</span> минут после публикации</li>
                                        <li class="tarif-item-feature-item">Доступ к разделу Работа <span>да</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых предложениях работы <span>нет</span></li>
                                        <li class="tarif-item-feature-item">Возможность позвонить Работодателю <span>нет</span></li>
                                        <li class="tarif-item-feature-item">Возможность написать Работодателю <span>да</span></li>
                                        <li class="tarif-item-feature-item">Вознаграждение по партнерской программе <span>10%</span></li>
                                    </ul>
                                    <a href="" class="btn ">перейти</a>

                                </div>
                                <div class="tarif-item">
                                    <p class="tarif-item-header">pro</p>
                                    <p class="tarif-item-price">0 <i class="fa fa-rub"></i></p>
                                    <p class="tarif-item-name">Профессионал</p>
                                    <ul class="tarif-item-feature">
                                        <li class="tarif-item-feature-item">Размещение техники в любой категории <span>1</span></li>
                                        <li class="tarif-item-feature-item">Размещение техники в категории строительный инструмент <span>1</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых заявках через <span>40</span> минут после публикации</li>
                                        <li class="tarif-item-feature-item">Доступ к разделу Работа <span>нет</span></li>
                                        <li class="tarif-item-feature-item">Получение уведомлений о новых предложениях работы <span>нет</span></li>
                                        <li class="tarif-item-feature-item">Возможность позвонить Работодателю <span>нет</span></li>
                                        <li class="tarif-item-feature-item">Возможность написать Работодателю <span>нет</span></li>
                                        <li class="tarif-item-feature-item">Вознаграждение по партнерской программе <span>5%</span></li>
                                    </ul>
                                    <a href="" class="btn ">перейти</a>

                                </div>

                            </div>
                        </div><!--//tab-tarif-->