<div id="tab-money-earn" class="lk-tab ">
    <div class="lk-tab-moneyearn">
        <div class="lk-tab-content-bg mb-20">
            <p class="mb-20">Скопируйте промо-код и сообщите его своим друзьям и знакомым. Все, кто будут регистрироваться по вашему промо-коду получат скидку, а вы будете получать регулярное вознаграждение</p>
            <div class="mb-20 d-flex">  <span class="btn btn-link " onclick="openModal()">Ввести промо-код партнера</span>
                <span class="btn btn-link" onclick="opentab(event, 'tab-money-drop', 'link-active')">вывести средства</span>
                <a style="padding-top: 10px" href="">Подробее о партнерской программе</a>
            </div>
            <p class="text-w-600 text-fs-20">ВАШ ПРОМО-КОД : <span class="color-red">{{ request.user.own_partner_code.code }}</span></p>
        </div>
        <div class="lk-tab-content-bg">
            <div class="tab">
                <button  class="h-tablinks htab-active" onclick="openHTab(event, 'fin_tab_1')">пользователь</button>
                <button class="h-tablinks" onclick="openHTab(event, 'fin_tab_2')">начисления</button>
            </div>
            <!-- Tab content -->
            <div id="fin_tab_1" class="h-tabcontent" style="display: block">
                <p>Lorem ipsum dolor sit.</p>
            </div>
            <div id="fin_tab_2" class="h-tabcontent">
                <p>Lorem ipsum dolor sit1.</p>
            </div>
        </div>
    </div><!--//lk-tab-moneyearn-->
</div><!--//tab-money-earn-->