<div id="tab-chat" class="lk-tab ">
    <div class="lk-tab-chat">

        <ul id="read-chats-list"></ul>
           <div class="paginator">
                                <ul id="paginator" class="paginator-items">
                                    <li class="paginator-item page-active"><span onclick="getChats(1)">1</span></li>

                                </ul>
                            </div>
        <div id="chat-messages" style="left: 0; right: 0;" class="lk-tab-chat-messages">
            <div  class="lk-tab-chat-messages-top ">
                <div  class="lk-tab-chat-item-img ">
                    <img id="chat_user_avatar" src="" alt="">
                </div>

                <div class="lk-tab-chat-item-user">
                    <p id="chat_user_name"></p>
                    <span></span>
                </div>
                <div class="lk-tab-chat-item-theme-img">
                    <img id="chat_theme_img" src="http://placehold.it/100" alt="">
                </div>
                <div class="lk-tab-chat-item-theme">
                    <p>Тема диалога : </p>
                    <a id="chat_theme" href=""></a>
                </div>
                <div class="lk-tab-chat-item-close">
                     <a style="margin-right: 30px" href="javascript:void(0)" onclick="closeChat()"><i class="fa fa-arrow-left"></i></a>
                    <a href="javascript:void(0)" onclick="deleteChat()"><i class="fa fa-trash"></i></a>
                </div>

            </div>
            <div class="lk-tab-chat-messages-bottom">
            </div>
            <div class="lk-tab-chat-messages-new-message">
                <input id="chat_message"  placeholder="Текст вашего сообщения">
                <div class="lk-tab-chat-messages-new-message-button"><a href="javascript: void(0)" onclick="sendMsg()"><i class="fa fa-telegram"></i></a></div>

            </div>
        </div>

    </div>
</div><!--//tab-chat-->