{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div style="min-height: 100vh" class="main">
        <div class="container">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="/">главная</a></li>
                    <li>личный кабинет</li>
                </ul>
            </div><!--//breadcrumbs-->
        </div><!--//container-->

        <section class="lk">
            <div class="container">
                <div class="lk-wrapper">
                    <div class="lk-menu">
                        <ul>
                         <li class="tablinks" onclick="opentab(event, 'tab-notification', 'link-active')" >Оповещения ( {{ allNotificatons.count }} )</li>
                            {% if request.user.is_customer %}
                                <li class="tablinks" onclick="opentab(event, 'tab-chat', 'link-active')" >диалоги ( {{ allChats.count }} )</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-my-fav', 'link-active')" >избранное ({{ techniqueItemsFavorite.count }})</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-orders', 'link-active')" >мои заявки на технику ({{ my_technique_orders.count }})</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-my-job-orders', 'link-active')" >мои заявки на работу (0)</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-finance', 'link-active')" >финансовые операции</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-money-earn', 'link-active')" >заработок в системе</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-feedback', 'link-active')" >отзывы</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-profile', 'link-active')" >мой профиль</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-settings', 'link-active')" >настройки</li>
                            {% else %}
                                <li class="tablinks" onclick="opentab(event, 'tab-balance', 'link-active')">баланс: {{ my_balance }} р <span>пополнить</span></li>
                                <li class="tablinks" onclick="opentab(event, 'tab-tarif', 'link-active')" >тариф: {{  my_tarif.short_name }} <span>изменить</span></li>
                                <li class="tablinks" onclick="opentab(event, 'tab-chat', 'link-active')" >диалоги ( {{ allChats.count }} )</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-my-cars', 'link-active')" >моя техника ({{ my_technique.count }})</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-my-orders-apply', 'link-active')" >отклики на заявки ({{ all_orders_apply.count }})</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-my-job-apply', 'link-active')" >отклики на работу (0)</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-finance', 'link-active')" >финансовые операции</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-money-earn', 'link-active')" >заработок в системе</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-feedback', 'link-active')" >отзывы</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-profile', 'link-active')" >мой профиль</li>
                                <li class="tablinks" onclick="opentab(event, 'tab-settings', 'link-active')" >настройки</li>
                            {% endif %}
                        </ul>
                        <a href="" class="btn">выход</a>
                    </div><!--//lk-menu-->
                    <div class="lk-content">
                        {% include 'user/_tab-notify.html' %}
                        {% include 'user/_tab-balance.html' %}
                        {% include 'user/_tab-tarif.html' %}
                        {% include 'user/_tab-chat.html' %}
                        {% include 'user/_tab-my-fav.html' %}
                        {% include 'user/_tab-my-orders.html' %}
                        {% include 'user/_tab-my-cars.html' %}
                        {% include 'user/_tab-my-order-apply.html' %}
                        {% include 'user/_tab-my-job-orders.html' %}
                        {% include 'user/_tab-my-job-apply.html' %}
                        {% include 'user/_tab-finance.html' %}
                        {% include 'user/_tab-money-earn.html' %}
                        {% include 'user/_tab-feedback.html' %}
                        {% include 'user/_tab-profile.html' %}
                        {% include 'user/_tab-settings.html' %}
                        {% include 'user/_tab-money-drop.html' %}
                        {% include 'user/_tab-my-order-detail.html' %}

                    </div><!--//lk-content-->
                </div><!--//lk-wrapper-->
            </div><!--//container-->
        </section><!--//lk-->

    </div><!--//main-->
    <div id="openModal" class="modal">
        <div id="modal_login" class="modal-dialog " >
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title section-header">ВВЕДИТЕ ПРОМО-КОД</h3>
                    <a href="#close" title="Close" onclick="openModal()" class="close">×</a>
                </div>
                <div  class="modal-body">
                    <form action="{% url 'apply_code' %}" method="post">{% csrf_token %}
                        <input class="mb-20" style="width: 100%" type="number" name="partner_code" required placeholder="ПРОМО-КОД">
                        <button type="submit" class="btn btn-link by-center">Подтвердить</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        function setPaymentType(el) {
            let allTypes = document.getElementsByClassName('payment-icon'),
                typeInput = document.getElementById('payment_type')

            for(x of allTypes){
                x.classList.remove('payment-icon-active')
            }
            el.classList.add('payment-icon-active')
            typeInput.value = el.dataset.type

        }
    </script>
    <!--tabs-->
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            let url = new URL(location.href);
            let tab = url.searchParams.get("tab");
            opentab(event, tab, 'link-active')
            console.log('notify')
            markNotificationRead()

        });
    </script>
    <!--//tabs-->
    <script>
        let curChat = 0
        let curPage = 1
        let readChatsList = document.getElementById('read-chats-list')
        let unreadChats = document.getElementById('unread-chats')
        let chatDiv = document.getElementById('chat-messages')
        let chatMsgWrapper = document.getElementsByClassName('lk-tab-chat-messages-bottom')[0]
        let msgTextArea = document.getElementById('chat_message')
        let paginator = document.getElementById('paginator')



        function getChats(page=curPage) {
            let body = {
                page: page,
            }
            readChatsList.innerHTML=''
            fetch('/chat/get_chats/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if (res['readChats'].length > 0){
                        for (chat of res['readChats']){
                            paginator.innerHTML = ''
                            if(chat['technique_img']){
                                 readChatsList.innerHTML = readChatsList.innerHTML + `
                                 <li>
                                        <div data-chat_id="${chat['chat_id']}" class="lk-tab-chat-item " onclick=openChat(this)>
                                            <div  class="lk-tab-chat-item-img ">
                                                <img src="${chat['user_avatar']}" alt="">
                                            </div>

                                            <div class="lk-tab-chat-item-user">
                                                <p>${chat['chat_from']}</p>
                                                <span>${chat['last_msg']}</span>
                                            </div>
                                              <div class="lk-tab-chat-item-theme-img">
                                                <a href="${chat['technique_url']}">
                                                    <img src="${chat['technique_img']}" alt="">
                                                </a>
                                            </div>
                                            <div class="lk-tab-chat-item-theme">
                                                <a href="${chat['technique_url']}">
                                                    <p>${chat['technique_name']}</p>
                                                </a>
                                            </div>
                                            <div class="lk-tab-chat-item-date">
                                                <span>${chat['last_msg_time']}</span>
                                            </div>
                                        </div>
                                    </li>
                                `
                            }
                            else{
                                 readChatsList.innerHTML = readChatsList.innerHTML + `
                                 <li>
                                        <div data-chat_id="${chat['chat_id']}" class="lk-tab-chat-item " onclick=openChat(this)>
                                            <div  class="lk-tab-chat-item-img ">
                                                <img src="${chat['user_avatar']}" alt="">
                                            </div>

                                            <div class="lk-tab-chat-item-user">
                                                <p>${chat['chat_from']}</p>
                                                <span>${chat['last_msg']}</span>
                                            </div>
                                              <div class="lk-tab-chat-item-theme-img">
                                                <a href="${chat['technique_url']}">
                                                    <img src="http://placehold.it/50" alt="">
                                                </a>
                                            </div>
                                            <div class="lk-tab-chat-item-theme">
                                                <a href="${chat['technique_url']}">
                                                    <p>${chat['technique_name']}</p>
                                                </a>
                                            </div>
                                            <div class="lk-tab-chat-item-date">
                                                <span>${chat['last_msg_time']}</span>
                                            </div>
                                        </div>
                                    </li>
                                `
                            }

                        }
                        if ( res['pages']['last_page'] > 1){
                            for(var i = 1; i <= res['pages']['last_page']; i++){
                                if (i == res['pages']['curent_page']){
                                    paginator.innerHTML = paginator.innerHTML + `
                                 <li class="paginator-item page-active"><span onclick="getChats(${i})">${i}</span></li>
                                `
                                }else{
                                    paginator.innerHTML = paginator.innerHTML + `
                                 <li class="paginator-item"><span onclick="getChats(${i})">${i}</span></li>
                                `
                                }
                            }
                        }
                        curPage = res['pages']['curent_page']
                    }else{ }
                })
        }


        function sendMsg() {
            let msg = msgTextArea.value
            let body = {
                chatId: curChat,
                msgFrom: {{ request.user.id }},
                msg: msg
            }
            fetch('/chat/add_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(msg)
                    chatMsgWrapper.innerHTML=chatMsgWrapper.innerHTML + `
                                    <div class="lk-tab-chat-messages-bottom__message-from-me">
                                        <p>${ msg}</p>
                                        <span>${new Date(Date.now()).toLocaleString()}</span>
                                    </div>`
                }).then(()=>{
                    document.getElementsByClassName('lk-tab-chat-messages-bottom')[0].scrollTo(0,(document.getElementsByClassName('lk-tab-chat-messages-bottom')[0].scrollTop+2000))
                    msgTextArea.value = ''
                }
            )
        }
    </script>

    <script>
        document.getElementById('chat_message').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                sendMsg()
            }
        });
    </script>
    <script>
        function deleteChat() {
             let body = {id: curChat}
            fetch('/chat/delete_chat/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token  }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                   closeChat()
                })

        }
        function closeChat(){
            getChats(curPage)
            document.getElementById('chat-messages').classList.remove('show-messages')
        }
        function openChat(el){

            chatMsgWrapper.innerHTML = ''
            msgTextArea.value = ''

            let chatUserAvatar = document.getElementById('chat_user_avatar')
            let chatUserName = document.getElementById('chat_user_name')
            let chatThemeImg = document.getElementById('chat_theme_img')
            let chatTheme = document.getElementById('chat_theme')
            let chat_id = el.dataset.chat_id
            let body = {
                chat_id: chat_id
            }
            curChat = chat_id
            fetch('/chat/get_msg/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": csrfmiddlewaretoken },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)

                    chatUserName.innerText = res['userInfo']['user_name']
                    chatUserAvatar.setAttribute('src',res['userInfo']['user_avatar'])
                    if(res['userInfo']['technique_img']){
                          chatThemeImg.setAttribute('src',res['userInfo']['technique_img'])
                    }else {
                         chatThemeImg.setAttribute('src','http://placehold.it/50')
                    }
                    chatTheme.setAttribute('href',res['userInfo']['technique_url'])
                    chatTheme.innerText = res['userInfo']['technique_name']

                    for (msg of res['chatMsg']){
                        console.log(msg)

                        if (msg['own']){
                            chatMsgWrapper.innerHTML=chatMsgWrapper.innerHTML + `
                                    <div class="lk-tab-chat-messages-bottom__message-from-me">
                                        <p>${msg['own'][0]}</p>
                                        <span>${msg['own'][1]}</span>
                                    </div>`
                        }else{
                            chatMsgWrapper.innerHTML=chatMsgWrapper.innerHTML + `
                                    <div class="lk-tab-chat-messages-bottom__message-to-me">
                                        <p>${msg['from'][0]}</p>
                                        <span>${msg['from'][1]}</span>
                                    </div>
                               `
                        }
                    }
                }).then(()=>{
                    chatDiv.classList.add('show-messages')
                    document.getElementsByClassName('lk-tab-chat-messages-bottom')[0].scrollTo(0,(document.getElementsByClassName('lk-tab-chat-messages-bottom')[0].scrollTop+2000))
                }
            )
        }
    </script>
    <script>
    function markNotificationRead() {
        let body = {id: '{{ request.user.id }}'}
            fetch('/user/mark_notify_read/', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token  }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                })

    }


    </script>

{% endblock %}